@use '../abstracts/variables' as *;

.gallery {
  margin-top: 43px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 60px;
  border-radius: 25px;
  background: $light-grey;
}

@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $mobile) {
  .gallery {
    margin-top: 22px;
    padding: 0;
    grid-template-columns: 1fr;
    gap: 20px;
    background: white;
  }
}
