@use '../abstracts/variables' as *;

* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat, Arial, sans-serif;
    color: $text;
}

body {
    margin: 0;
    min-width: 320px;
}

a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}